header
	background: $color-body
	.wrap
		position: relative
	h1
		margin-bottom: 0
		padding: emCalc(8px, 44px) 0 emCalc(10px, 44px)
		a
			+handWritingBold
			+retina-image("logo-newhome", 108px , 77px, no-repeat)
			display: inline-block
			margin-top: emCalc(10px, 44px)
			padding: emCalc(47px, 44px) emCalc(10px, 44px) emCalc(10px, 44px) emCalc(85px, 44px)
			font-size: emCalc(44px, 36px) // H1 is 36px by default
			font-weight: 100
			color: $font-color
	.menu
		position: absolute
		right: 0
		top: 30px
		li
			float: left
			margin-left: emCalc(5px)
			@extend %clear-list
		a
			+border-radius($default-radius)
			display: block
			line-height: 1
			font-weight: 200
			padding: emCalc(8px) emCalc(20px)
			color: $font-color
			text-decoration: none
			&:hover, &.active
				color: #fff
				background: $color-blue !important
		.submenu
			margin-left: 6px
			float: left
			border-left: solid 1px $font-color
			padding: 0
			li
				position: relative
				margin-left: 10px
				&.active
					.popup
						display: block
					a
						color: #fff
						background: $color-blue
						+border-radius(4px 4px 0 0)
			.btn
				color: #fff

.popup
	width: 500px
	right: 0
	position: absolute
	padding: 20px
	background: $color-blue
	z-index: 20
	display: block
	.field
		width: 47.5%
		float: left
		margin-left: 20px
		&:first-child
			margin-left: 0
	label
		margin-bottom: 10px
		color: #fff
	input[type="text"], input[type="password"]
		width: 98%
		padding: 8px 2%
	input[type="submit"]
		@extend %btn-brown
		font-size: emCalc(20px)
		float: right
		margin-top: emCalc(25px, 20px)
		padding: emCalc(10px, 20px) emCalc(25px, 20px)

/* Introduction on top */
.introduction
	margin-bottom: 0
	padding-top: emCalc(50px)
	background: $color-blue
	color: #fff
	.wrap
		position: relative
		min-height: emCalc(445px)
	.hand
		right: 0
		bottom: 0
		position: absolute
	h1
		font-size: emCalc(60px)
		line-height: emCalc(70px, 60px)
	p
		font-size: emCalc(24px)
		line-height: emCalc(36px, 24px)
	h1, p
		margin-bottom: 25px
	.text
		width: 46% // 460px
		line-height: 2em
		p
			margin-right: 10%
	.action
		@extend %btn-darkblue
		+border-radius($default-radius)
		padding: emCalc(13px, 24px) emCalc(40px, 24px)
		margin-bottom: emCalc(15px, 24px)
		font-size: emCalc(24px)
		text-align: center
		&:hover
			background: $font-color
	a
		color: $font-color

/* Home Features - rich content, two way communication, and blog-review */
.home-features
	article
		@extend %clearfix
		padding: emCalc(50px) 0
	h1
		margin-bottom: emCalc(10px, 48px)
		font-size: emCalc(48px)
		font-weight: 600
	h2
		margin-bottom: emCalc(5px, 30px)
		font-weight: 600
	ul
		@extend %clear-list
		li
			min-height: emCalc(115px)
			padding-left: emCalc(50px)
			margin-bottom: emCalc(50px)
			&.active, &:hover // Replace with icon
				background: url("../images/arrow-active-l.png") no-repeat left center
		.img-icon
			width: 126px
			float: left
			margin-right: emCalc(20px)
		p
			font-size: emCalc(18px)
			line-height: emCalc(26px, 18px)
			margin-top: 0

.iphone
	width: 294px
	margin-right: 20px
	position: relative

.feature-lists
	width: 675px

.introtext
	font-size: emCalc(22px)
	line-height: emCalc(30px, 22px)
	margin: 0 0 emCalc(40px, 22px)

.rich-content
	.iphone
		float: left
	.feature-lists
		float: right	

.iphone-screen
	width: 254px
	height: 446px
	position: absolute
	top: 87px
	left: 19px
	background: red

.communication-content
	ul li
		padding: 0 emCalc(30px) 0 0
		&:hover, &.active
			background: url("../images/arrow-active-r.png") no-repeat right center
		.img-icon
			width: 143px
	.iphone
		float: right
	.feature-lists
		float: left	

.home-dashboard-features
	h1
		text-align: center
		margin-bottom: emCalc(40px, 48px)
	li
		float: left
	.menu-carousel
		text-align: center
		margin-bottom: emCalc(40px)
		ul
			+border-radius(3px)
			overflow: hidden
			display: inline-block
		li
			min-height: auto
			padding: 0
			margin-bottom: 0
			&.active a, &:hover a
				background-image: none
				background-color: $color-brown
				color: $color-brown-darkest
		a
			font-size: emCalc(22px)
			line-height: 1
			display: block
			padding: emCalc(10px, 22px) emCalc(30px, 22px) emCalc(13px, 22px)
			background: $color-brown-light
	.carousel-content
		overflow: hidden
		ul // Adjust the width
			width: 3000px
		li
			padding: 0
			max-width: 1000px
			margin-bottom: 0
		img
			float: left
			margin: 0 0 0 emCalc(20px)
		p
			font-size: emCalc(22px)
			line-height: emCalc(36px, 22px)
			margin-top: emCalc(20px, 22px)

.blog-review
	> div
		width: 47%
		float: left
		border-left: solid 1px #ebeae8
		&:first-child
			border: 0
			padding-right: 5%
	h1
		font-size: emCalc(36px)
		font-weight: 300
	p
		font-size: emCalc(18px)
		margin-bottom: 0
	.author
		margin: 0 0 emCalc(20px, 14px)
		text-transform: uppercase
		font-size: emCalc(14px)
		line-height: emCalc(24px, 14px)
	.reviewbox
		text-align: center
		.avatar
			@extend %circle-shape
			width: 150px
			height: 150px
			border: solid 10px $color-blue
		blockquote
			margin-top: 0
			p
				margin-top: 0
				font-size: emCalc(22px)
				font-style: italic
				font-weight: 300
		p
			font-weight: 500
	.btn-holder
		text-align: center
		padding-top: emCalc(30px)
		clear: both
	.btn-plan-pricing
		display: inline-block
		padding: emCalc(20px, 22px) emCalc(30px, 22px)
		text-align: center
		background: $color-green
		font-size: emCalc(22px)
		line-height: emCalc(30px, 22px)
		color: #fff
		strong
			display: block
			font-size: emCalc(24px, 22px)
			font-weight: 500

.press-box
	border-top: solid 1px #ebeae8
	h1
		text-align: center
		font-weight: 300
		font-size: emCalc(36px)


























